#  <span style="color:blue">Lists</span>

### List is a collection which is ordered and changeable. Allows duplicate members.

In Python lists are written with square brackets.

In [ ]:
my_list = [1,2,2,3,'a']

In [ ]:
my_list

In [ ]:
type(my_list)

In [ ]:
my_list = [1,2,3,'b']

In [ ]:
my_list

In [ ]:
a = 100

b = 200

c = 300

my_list3 = [b,a,c]


my_list3

In [ ]:
type(my_list3)

### Access Items

You access the list items by referring to the index number:

indexing from beginning as 0.

In [ ]:
#Indexing and Slicing # same as in a string!
mylist = ['a','b','c','d']

mylist

In [ ]:
mylist[1]

In [ ]:
mylist[-2]

### Negative Indexing

Negative indexing means beginning from the end, 

-1 refers to the last item, 

-2 refers to the second last item etc.

In [ ]:
mylist[-1]

In [18]:
mylist

['a', 'b', 'c', 'd']

### Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

In [23]:
mylist[0:6]

['a', 'b', 'c', 'd']

In [24]:
mylist1st = [1,2,3,4,5,6,7,8]
mylist1st
print(mylist1st[0:7])

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
mylist

### List  Length

In [26]:
#The len function
len("This is my test for length")

26

In [27]:
my_list

[1, 2, 3, 'b']

In [28]:
len(my_list)

4

### List Methods

following are few useful methods

In [30]:
mylist = [1,2,3,4]
mylist

[1, 2, 3, 4]

In [31]:
mylist

[1, 2, 3, 4]

In [32]:
mylist.append(20)

mylist

[1, 2, 3, 4, 20]

In [ ]:
mylist

In [33]:
mylist.pop()

20

In [34]:
mylist

[1, 2, 3, 4]

In [35]:
item = mylist.pop()
item

4

In [36]:
item

4

In [37]:
mylist

[1, 2, 3]

In [38]:
mylist

[1, 2, 3]

In [39]:
first_item = mylist.pop(1)

In [40]:
first_item

2

In [41]:
mylist

[1, 3]

In [46]:
colors = ['Red',1,'Green',] 
colors

['Red', 1, 'Green']

In [47]:
mylist = [1,2,3]
mylist

[1, 2, 3]

In [49]:
mylist[1]=2.5
mylist

[1.5, 2.5, 3]

In [50]:
# This method doesn't return anything.
# Instead it performs the action "in-place" mylist.reverse()

mylist.reverse()
mylist

[3, 2.5, 1.5]

In [51]:
mylist

[3, 2.5, 1.5]

In [52]:
mylist.sort()
mylist

[1.5, 2.5, 3]

In [42]:
mylist

[1, 3]

In [ ]:
mylist.pop(1)
mylist

In [ ]:
mylist

In [45]:
mylist.insert(1,7)
mylist

[1, 7, 3, 7, 7]

### Nested Lists

In [53]:
new_list = [1,2,3,['a','b','c']] 
new_list

[1, 2, 3, ['a', 'b', 'c']]

In [57]:
new_list

[1, 2, 3, ['a', 'b', 'c']]

In [58]:
new_list2 = new_list.pop()
new_list2

['a', 'b', 'c']

In [62]:
new_list

[1, 2, 3]

In [61]:
new_list2[0]

'a'

In [63]:
type(new_list2)

list

In [ ]:
type(1)

In [64]:
type('Keras')

str

In [65]:
type(new_list)

list

In [ ]:
new_list

In [ ]:
new_list[2]

### Loop Through a List

In [66]:
thislist = ["Hadoop", "Spark", "Hive"]
thislist

['Hadoop', 'Spark', 'Hive']

In [67]:
for x in thislist:
    print(x)

Hadoop
Spark
Hive

In [ ]:
type(x)

In [68]:
thislist = ["Hadoop", "Spark", "Hive"]
thislist

['Hadoop', 'Spark', 'Hive']

In [69]:
thislist

['Hadoop', 'Spark', 'Hive']

### Assignment

In [ ]:
#Print the second item in the above thislist.

fruits = ["Apples", "Oranges", "Grapes"]

print(fruits)

In [ ]:
for y in fruits:
    print(y)