#  <span style="color:blue">Tuples</span> 


A tuple is a collection which is ordered and unchangeable. 

In Python tuples are written with round brackets.

### Simple Tuple

In [ ]:
t = (1,2,3,4)

In [ ]:
t

In [ ]:
type(t)

### Tuple Length

In [ ]:
#Check len just like a list 
len(t)

#t = (1,2,3)

### Can create a tuple with mixed types

In [ ]:
#Can also mix object types 
t = ('Datascience',2)
t

In [ ]:
type(t)

### Change Tuple Values - work around

In [ ]:
x = ("red", "green", "yellow")
x

In [ ]:
type(x)

In [ ]:
# If you want to change a tuple values,convert it into list.
y = list(x)
y

In [ ]:
type(y)

In [ ]:
y

In [ ]:
#y is a list and mutable
y[1] = "red"

y

In [ ]:
#x is a tuple and immutable
x
x[1]='red'

#'tuple' object does not support item assignment

In [ ]:
x = tuple(y)

print(x)

In [ ]:
type(x)

### Access Tuple Items

In [20]:
t

('Datascience', 2)

In [21]:
t[1]

2

### Negative Indexing

In [ ]:
t

In [ ]:
t[-1]

### Range of Indexes

In [ ]:
t

In [ ]:
print(t[0:2])

In [ ]:
type(t)

### Loop Through a Tuple

You can loop through the tuple items by using a for loop.

In [22]:
t2 = ('R','Python','Hadoop','Spark','Data Science') 
t2

('R', 'Python', 'Hadoop', 'Spark', 'Data Science')

In [23]:
# This x in for loop is local 
for x in t2:
    print(x)

R
Python
Hadoop
Spark
Data Science

In [24]:
type(t2)

tuple

### Check if Item Exists

In [25]:
t2

('R', 'Python', 'Hadoop', 'Spark', 'Data Science')

In [26]:
'R' in t2

True

In [27]:
'a' in t2

False

In [28]:
 'Hadoop' in t2

True

In [29]:
'Sp' in t2

False

In [30]:
'Spark' in t2

True

In [31]:
'a' in t2[2]

True

### Join Two Tuples

In [32]:
tuple1 = ("a", "b" , "c")

tuple2 = (1, 2, 3)

In [33]:
tuple3 = tuple1+tuple2
tuple3

('a', 'b', 'c', 1, 2, 3)

### The tuple() Constructor

It is also possible to use the tuple() constructor to make a tuple

In [34]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [35]:
thistuple = tuple(("apple", "banana", "cherry"))
thistuple

('apple', 'banana', 'cherry')

### Tuple Methods


count()	Returns the number of times a specified value occurs in a tuple.


index()	Searches the tuple for a specified value and returns the position of where it was found

In [36]:
t2= ('R','R', 'Python', 'Hadoop', 'Spark','Spark')
t2

('R', 'R', 'Python', 'Hadoop', 'Spark', 'Spark')

In [37]:
len(t2)

6

In [38]:
t2.count('Spark')

2

In [39]:
t2.index('Spark')

4