# String Literals

<font color='blue'> String literals in python are surrounded by either single quotation marks, or double quotation marks.</font>

In [ ]:
# Single or double quotes are okay. 
"Welcome to Python"

In [ ]:
#Basic Printing of Strings
'Namasthe'

In [ ]:
print('Namaste')

In [ ]:
#error
'Namaste India"

### Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
#String Methods
string1 = "It's a Wonderful Day !"
string1

In [ ]:
whatday = "Today is Thursday !"

whatday

#### Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [ ]:


a = """Lor elit,
sed do eiusmod em ipsum dolor sit amet,
consectetur adipiscingtempor incididunt
ut labore et dolore magna aliqua."""
print(a)

### String Methods()

Python has a set of built-in methods that you can use on strings.

In [9]:
string1

"It's a Wonderful Day !"

In [10]:
string1.upper()

"IT'S A WONDERFUL DAY !"

In [11]:
string1.lower()

"it's a wonderful day !"

In [12]:
s=string1
s

"It's a Wonderful Day !"

In [14]:
id(s)

2309385468864

In [15]:
id(string1)

2309385468864

In [16]:
s.split()

["It's", 'a', 'Wonderful', 'Day', '!']

In [17]:
s.split('W')

["It's a ", 'onderful Day !']

In [18]:
s.split('a')

["It's ", ' Wonderful D', 'y !']

In [19]:
s = "Its a Wonderful! #Day"
s

'Its a Wonderful! #Day'

In [20]:
s.split()

['Its', 'a', 'Wonderful!', '#Day']

In [21]:
10 * 'Tip'

'TipTipTipTipTipTipTipTipTipTip'

In [22]:
3 * 'haa' + 2 * "!"

'haahaahaa!!'

### String Length

In [23]:
len('12 * Top')

8

In [24]:
len("house" + 'boat') * '12'

'121212121212121212'

In [25]:
len('Margarita')

9

### String  Slicing

In [26]:

#We can grab entire subsections of a string with slice notation.
word = "World"
word

'World'

In [30]:
word[0]

'W'

### Reverse indexing

In [31]:
#Reverse indexing is used commonly to grab the last "chunk" of a sequence.

#character:		w		o		r l d 
#index:     	0		1		2 3 4
#reverseindex: -5	   -4      -3 -2-1


word[-5]

'W'

In [32]:
word

'World'

In [33]:
python = 'Data Science'
python[0]

'D'

In [34]:
python[0:4]

'Data'

In [36]:
python[2:5]

'ta '

In [37]:
python[5:]

'Science'

In [38]:
python[:4]

'Data'

In [39]:
python[0:6:2]

#Note python = 'Data Science'

'Dt '

In [40]:
python[0:8:3]

#Note python = 'DataScience'

'Dac'

### Strings are Arrays

Square brackets can be used to access elements of the string.

In [41]:
a = "Hello, World!"
print(a[0])

H

### String Concatenation

In [42]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [43]:
# To add a space between them, add a " ":
  
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

### String Format

In [46]:
age = 36
txt = "My name is Alex, I am " + age

print(txt)

TypeError: can only concatenate str (not "int") to str

In [47]:
age = 21
txt = "My name is Tina, and I am {}"
print(txt.format(age))

My name is Tina, and I am 21

### Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

In [48]:
tExt = "Who is  \"Kattapa\" from the south."
print(tExt)

Who is  "Kattapa" from the south.

In [49]:
print('this is a new line \n notice how this prints')

this is a new line
 notice how this prints

In [50]:
print('this is a tab \t notice how this prints')

this is a tab 	 notice how this prints

In [51]:
print("Notice how they both follow the general escape character of backslash ") 
print("What is \n")

Notice how they both follow the general escape character of backslash
What is