# What is pandas-python? Introduction and Installation

<font color='blue'>   

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

**Pandas Features :**

1.Pandas is python module that makes data science easy and effective.

2.Data frame is a main object in pandas. It is used to represent data with rows and columns

3.Data frame is a datastructure represent the data in tabular or excel spread sheet like data)
    
</font>

In [2]:
#accessing url by pandas
import pandas as pd
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
df = pd.read_csv(url)
df

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [4]:
import os

#getcurrentworking directory
os.getcwd()


#change currentworking directory
os.chdir('E:\Data Science _TR\Datasets')

print(os.getcwd())

E:\Data Science _TR\Datasets

In [5]:
#pip install pandas
import pandas as pd

import pandas as pd


df = pd.read_csv("weather_data.csv")

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df2 = pd.DataFrame(df)
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
type(df2)

pandas.core.frame.DataFrame

In [9]:
#list of tuples

weather_data = [
                ('1/1/2017', 32, 6, 'Rain'),
                ('1/2/2017', 35, 7, 'Sunny'),
                ('1/3/2017', 28, 2, 'Snow'),
                ('1/4/2017', 24, 7, 'Snow'),
                ('1/5/2017', 32, 4, 'Rain'),
                ('1/6/2017', 31, 2, 'Sunny')
               ]

weather_data

[('1/1/2017', 32, 6, 'Rain'),
 ('1/2/2017', 35, 7, 'Sunny'),
 ('1/3/2017', 28, 2, 'Snow'),
 ('1/4/2017', 24, 7, 'Snow'),
 ('1/5/2017', 32, 4, 'Rain'),
 ('1/6/2017', 31, 2, 'Sunny')]

In [10]:
df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
weather_data1 = [('1/1/2018', 32, 6, 'Rain'),
                 ('1/2/2018', 35, 7, 'Sunny'),
                 ('1/3/2018', 28, 2, 'Snow'),
                 ('1/4/2018', 24, 7, 'Snow'),
                 ('1/5/2018', 32, 4, 'Rain'),
                 ('1/6/2018', 31, 2, 'Sunny'),
                 ('1/8/2018', 31, 2, 'Sunny')
]

weather_data1

[('1/1/2018', 32, 6, 'Rain'),
 ('1/2/2018', 35, 7, 'Sunny'),
 ('1/3/2018', 28, 2, 'Snow'),
 ('1/4/2018', 24, 7, 'Snow'),
 ('1/5/2018', 32, 4, 'Rain'),
 ('1/6/2018', 31, 2, 'Sunny'),
 ('1/8/2018', 31, 2, 'Sunny')]

In [12]:
df = pd.DataFrame(weather_data1,columns = ['day','temp','wind','event'] )
df

        day  temp  wind  event
0  1/1/2018    32     6   Rain
1  1/2/2018    35     7  Sunny
2  1/3/2018    28     2   Snow
3  1/4/2018    24     7   Snow
4  1/5/2018    32     4   Rain
5  1/6/2018    31     2  Sunny
6  1/8/2018    31     2  Sunny

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.shape

(7, 4)

In [17]:
df.head()

        day  temp  wind  event
0  1/1/2018    32     6   Rain
1  1/2/2018    35     7  Sunny
2  1/3/2018    28     2   Snow
3  1/4/2018    24     7   Snow
4  1/5/2018    32     4   Rain

In [18]:
df.tail()

        day  temp  wind  event
2  1/3/2018    28     2   Snow
3  1/4/2018    24     7   Snow
4  1/5/2018    32     4   Rain
5  1/6/2018    31     2  Sunny
6  1/8/2018    31     2  Sunny

In [21]:
#slicing #n-1
df[:]

        day  temp  wind  event
0  1/1/2018    32     6   Rain
1  1/2/2018    35     7  Sunny
2  1/3/2018    28     2   Snow
3  1/4/2018    24     7   Snow
4  1/5/2018    32     4   Rain
5  1/6/2018    31     2  Sunny
6  1/8/2018    31     2  Sunny

In [22]:
df.columns   #print columns in a table

Index(['day', 'temp', 'wind', 'event'], dtype='object')

In [23]:
df.dtypes

day      object
temp      int64
wind      int64
event    object
dtype: object

In [24]:
#another way of accessing column
df['day'] #df.day (both are same)

0    1/1/2018
1    1/2/2018
2    1/3/2018
3    1/4/2018
4    1/5/2018
5    1/6/2018
6    1/8/2018
Name: day, dtype: object

In [25]:
#get 2 or more columns
df[['day', 'event']]

        day  event
0  1/1/2018   Rain
1  1/2/2018  Sunny
2  1/3/2018   Snow
3  1/4/2018   Snow
4  1/5/2018   Rain
5  1/6/2018  Sunny
6  1/8/2018  Sunny

In [26]:
#get all temperatures
df['temp']

0    32
1    35
2    28
3    24
4    32
5    31
6    31
Name: temp, dtype: int64

In [ ]:
#print max temperature
df['temp'].min()

In [ ]:
#print max temperature
df['temp']

In [28]:
#describe function give data only for numerical data columns
df.describe().T

      count       mean       std   min   25%   50%   75%   max
temp    7.0  30.428571  3.505098  24.0  29.5  31.0  32.0  35.0
wind    7.0   4.285714  2.360387   2.0   2.0   4.0   6.5   7.0

In [29]:
# select rows which has maximum temperature
df[df.temp == df.temp.max()]

        day  temp  wind  event
1  1/2/2018    35     7  Sunny

In [30]:
#select only day column which has maximum temperature
df.day[df.temp == df.temp.max()]

1    1/2/2018
Name: day, dtype: object